
@{ Layout = "";}
@model btfb.ViewModels.RequestViewModel
<div class="col-md-12">
    @using (Html.BeginForm("HomeCreate", "Request", FormMethod.Post, new { @class = "p-2", role = "Form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger alert-dismissible" })
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Request.FirstName, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Name" } })


                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Last Name" } })

                </div>

            </div>
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control form-control-sm col-md-6", @placeholder = "Email" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control form-control-sm col-md-6 phone", @placeholder = "Phone", @id = "Phone" } })
            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title p-2"><h5>Origin</h5></div>
                            <div class="from-group p-2">
                                <input type="text" class="form-control form-control-sm col-md-12" placeholder="City" />
                            </div>
                            <div class="from-group p-2">
                                @Html.DropDownList("FromState", null, htmlAttributes: new { @class = "form-control form-control-sm col-md-6", @id = "FromState" })

                            </div>
                            <div class="from-group p-2">
                                @Html.EditorFor(model => model.FromZipCode, new { htmlAttributes = new { @class = "form-control form-control-sm col-md-12", @placeholder = "Zip Code" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title p-2"><h5>Destination</h5></div>
                            <div class="from-group p-2">
                                <input type="text" class="form-control form-control-sm col-md-12" placeholder="City" />
                            </div>
                            <div class="from-group p-2">
                                @Html.DropDownList("ToState", null, htmlAttributes: new { @class = "form-control form-control-sm col-md-6", @id = "FromState" })
                            </div>
                            <div class="from-group p-2">
                                @Html.EditorFor(model => model.ToZipCode, new { htmlAttributes = new { @class = "form-control form-control-sm col-md-12", @placeholder = "Zip Code" } })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.DropDownList("Make", null, htmlAttributes: new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6" id="ModelContainer">

                    @Html.DropDownList("Model", null, htmlAttributes: new { @class = "form-control form-control-sm ", @id = "Model" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                @{ Html.RenderAction("Years", "ComboBox", new { ComboId = "Years" });}
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.Runs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Runs, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <button type="submit" class="btn btn-outline-primary">Request quote</button>
    }
</div>
